# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual environments
# =========================
venv/
.env
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Desarrollo local
# =========================
site/assets/data/
scripts/test.ipynb
site/assets/img/prototipo.png